{{- if .Site.Params.widgets.categories }}
{{- if isset .Site.Taxonomies "categories" }}
{{- if not (eq (len .Site.Taxonomies.categories) 0) }}
<div class="widget-categories widget">
  <h4 class="widget__title"><i class="fas fa-folder-o" aria-hidden="true"></i> Catégories</h4>
  <div class="widget__content">
    <ul class="widget__list">
      {{- range $key, $value := .Site.Taxonomies.categories.ByCount }}
      {{- $url := printf "%s%s" ("categories/" | relLangURL) ($value.Name | urlize | lower) }}
      <li class="widget__item">
        <a class="rss-link" href="{{ $url }}/index.xml" type="application/rss+xml" title="Flux RSS pour {{ $value.Name | title }}">
          &nbsp;
          <i class="fas fa-rss" aria-hidden="true"></i>
          <span class="sr-only link-alt">Flux RSS</span>&nbsp;
        </a>
        <a class="widget__link" href="{{ $url }}">{{ $value.Name | title }} ({{ $value.Count }})</a>
      </li>
      {{- end }}
    </ul>
  </div>
</div>
{{- end }}
{{- end }}
{{- end }}
