/*** CSS Reset based on http://meyerweb.com/eric/tools/css/reset/ v2.0 ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

b, strong {
	font-weight: 700;
}

:focus::-webkit-input-placeholder {
	color: transparent;
}

:focus::-moz-placeholder {
	color: transparent;
}

:focus:-moz-placeholder {
	color: transparent;
}

:focus:-ms-input-placeholder {
	color: transparent;
}

/*** Structure ***/
html {
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
}

body {
  /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
  /* font-family: "PT Serif",Georgia,Times,"Times New Roman",serif; */
  /* font-family: "Noto Sans", "Open Sans", "Roboto", Arial, sans-serif; */
  font-family: "Droid Serif","Noto Serif","Playfair Display",Times,"Times New Roman",serif;
  /* font-family: "Noto Serif", "Open Serif", serif; */
	line-height: 1.6;
  /* font-size: 1.15em; */
	word-wrap: break-word;
  padding: 0;
  margin: 0;
}

/*.menu, .widget__link--taglist {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}*/

.container/*, .container-inner*/ {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	/* position: relative; */
}

.container-outer {
	/* margin: 25px auto; */
	-webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.17);
	-moz-box-shadow: 0 0 10px rgba(50, 50, 50, 0.17);
	box-shadow: 0 0 10 rgba(50, 50, 50, 0.17);
}

.wrapper {
	/* padding: 25px; */
	padding-left: 0px;
}

.sidebar {
  padding: 20px 2%;
  padding-top: 25px;
}

.post {
  padding: 40px;
  padding-top: 20px;
  border-bottom: 1px dashed #c4c4c4;
}

.page-header {
  padding: 25px;
  padding-bottom: 0;
}

.pagination, .archives {
  padding: 0 25px;
}

.content {
	/* width: 65.83%; */
	width: 71%;
	overflow: hidden;
}

.sidebar {
	/* width: 31.66%; */
	width: 25%;
	float: left;
}

.body-right-sidebar .main-content {
	float: left;
	/* margin-right: 2.5%; */
}

.body-left-sidebar .main-content {
	float: right;
	margin-left: 2.5%;
}

.warning {
	border: 1px solid #ddd;
	padding: 20px 10px;
	text-align: center;
}

.warning__icon {
	margin-bottom: 20px;
}

/*** Animation ***/
/*.menu__item, .tags__item, .widget__link--taglist, .btn {
	-webkit-transition: 0.25s ease-out;
	-moz-transition: 0.25s ease-out;
	transition: 0.25s ease-out;
}*/

/*** Button ***/
.btn {
	font-weight: 700;
	padding: 5px 10px;
	white-space: nowrap;
}

/*** Columns ***/
.row [class*="col-"]:first-child {
	margin: 0;
}

[class*="col-"] {
	float: left;
	margin-left: 2.5%;
	overflow: hidden;
}

.col-1-1 {
	width: 100%;
}

.col-1-2 {
	width: 48.75%;
}

.col-1-3 {
	width: 31.66%;
}

.col-2-3 {
	width: 65.83%;
}

.col-1-4 {
	width: 23.12%;
}

.col-3-4 {
	width: 74.37%;
}

.col-1-5 {
	width: 18.00%;
}

.col-1-6 {
	width: 14.58%;
}

.col-1-7 {
	width: 12.14%;
}

.col-1-8 {
	width: 10.31%;
}

.clear {
	clear: both;
}

.clearfix {
	display: block;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

/*** Typography ***/
h1 {
   font-size: 32px;
  font-size: 2rem;
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;
}

h3 {
  font-size: 20px;
  font-size: 1.25rem;
}

h4 {
  font-size: 18px;
  font-size: 1.125rem;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
}

h6 {
  font-size: 14px;
  font-size: 0.875rem;
}

h1, h2, h3, h4, h5, h6 {
	/* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
  font-family: "Noto Sans", "Open Sans", "Roboto", Arial, sans-serif;
  /* font-family: "Roboto",sans-serif; */
	line-height: 1.3;
	font-weight: 700;
}

small {
	font-size: 12px;
	font-size: 0.75rem;
}

pre {
	font-family: "Consolas", "Courier New", Courier, monospace;
  line-height: 1.2;
  margin-bottom: 20px;
	margin-bottom: 1.25rem;
	border: 1px solid #c4c4c4;
	padding: 10px;
	padding: .7rem;
	white-space: pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
  white-space: -webkit-pre-wrap;
}

code {
  border: .05em solid #fadbf4;
  display: inline-block;
  padding: 0 .3em;
  border-radius: .4em;
  font-size: .9em;
}

pre code {
  background: none;
  border: none;
}

pre {
  font-size: .95em;
}

pre code {
  font-size: 1em;
}

kbd {
	padding: 0 6px;
	padding: 0 0.375rem;
  border: 1px solid #e64946;
	border-radius: 0.1875em;
	-moz-border-radius: 0.1875em;
	-moz-box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset;
	-webkit-border-radius: 0.1875em;
	-webkit-box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset;
	box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset;
	text-shadow: 0 0.0625em 0 #eee;
}

blockquote {
	display: block;
	line-height: 1.6;
	font-style: italic;
	padding: 5px 0 5px 15px;
	border-left: 5px solid #e64946;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

abbr, acronym {
  border-bottom: 1px dashed #e64946;
	cursor: help;
}

q {
	font-style: italic;
}

address {
	font-family: "Courier new";
	line-height: 1.5;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.link-alt {
  text-decoration: underline;
}

/*** Icon ***/
.rss-link:hover .fa-rss:before, .page-rss:hover .fa-rss:before {
  font-size: 1.2em;
}

.text-alt {
  font-size: .8em;
}

/*** Title ***/
.post__content h1 {
  font-size: 48px;
  font-size: 4rem;
}

.post__content h2 {
  font-size: 32px;
  font-size: 2rem;
}

.post__content h3 {
  font-size: 24px;
  font-size: 1.5rem;
}

.post__content h4 {
  font-size: 20px;
  font-size: 1.25rem;
}

.post__content h5 {
  font-size: 18px;
  font-size: 1.125rem;
}

.post__content h6 {
  font-size: 16px;
  font-size: 1rem;
}

/*** Lists ***/
.post__content ul {
	list-style: square;
	/* font-size: 1.1rem; */
}

.post__content ol {
	list-style: decimal;
}

.post__content ul, .post__content ol {
	margin: 0 0 20px 40px;
}

.post__content ul ul, .post__content ol ol {
	margin: 0 0 0 40px;
}

.post__content li {
	margin-bottom: 5px;
}

dl {
	margin: 0 0 10px 20px;
}

dt, dd {
	display: list-item;
}

dt {
	list-style-type: square;
	font-weight: bold;
}

dd {
	list-style-type: circle;
	margin-left: 20px;
}

select {
	max-width: 100%;
}

/*** Comments ***/
#gh-comments {
  margin: 1em;
}
/*#gh-comments > h1 {
  text-align: center;
  margin: 1em;
}*/

/*#gh-comments-list {
}*/

#gh-comments-list > a, #gh-comments > a {
  padding: 1em;
  margin: .5em 2em;
  display: block;
}

.gh-comment {
  padding: 5px;
  margin: 1em;
  border: 1px solid #ddd;
}

.gh-comment-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.gh-comment-header img {
  margin-right: .5em;
}



/*** Header ***/

.logo {
  padding: 10px 20px;
	overflow: hidden;
}

.logo__link {
	margin: 5px 0;
	/* text-transform: uppercase; */
  text-decoration: none;
}

.logo__title {
	font-size: 32px;
	font-size: 2rem;
	line-height: 1;
}

.logo__tagline {
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1;
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #e5e5e5;
}

/*** Navigation — Responsive-nav.js ***/
.menu {
  /* width: 100%; */
	margin: 0 auto;
	/* padding-left: 30px; */
	/* position: relative; */
	/* text-transform: uppercase; */
  text-align: right;
  vertical-align: bottom;
}

/*.menu__toggle {
	background: #2a2a2a;
	text-transform: uppercase;
	padding: 10px 15px;
	color: #eee;
	text-align: right;
	font-weight: 700;
	display: block;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}*/

.menu__list {
	margin: 0;
	padding: 0;
	/* width: 100%; */
	display: inline-block;
	list-style: none;
}

.menu__link {
  padding: 10px 15px;
	display: block;
	border-left: 1px solid #666;
	font-weight: 700;
  text-decoration: none;
  font-size: 1.2em;
  /* min-height: 29px; */
}

/*.menu__link[title="GitHub"] i {
  font-size: 1.2em;
}*/

/*.js .menu--collapse {
	max-height: 0;
	position: absolute;
	display: block;
	overflow: hidden;
	zoom: 1;
}

.menu--collapse.opened {
	max-height: 9999px;
}*/

/*.opened.menu__list {
	border-top: 1px solid #e64946;
}*/

.menu__item {
  display: inline-block;
	/* -webkit-transition: 0.25s ease-out; */
	/* -moz-transition: 0.25s ease-out; */
	/* transition: 0.25s ease-out; */
}

.menu__item:first-child {
	border: none;
}

@media screen and (min-width: 767px) {
	/*.js .menu {
		position: relative;
	}

	.js .menu.closed {
		max-height: none;
	}*/

	/*.menu__toggle {
		display: none;
	}*/

	.menu {
		/* border-bottom: 5px solid #e64946; */
    min-height: 42px;
	}

	.header {
    width: 100%;
    display: table;
    border-bottom: 5px solid #e64946;
  }

  .container-inner {
    display: table-row;
  }

  .header > .container-inner > * {
    display: table-cell;
  }

	/*.menu__item {
		float: left;
		position: relative;
	}*/
}

/*** Posts/Pages ***/
.post__header, .page-header {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.page-footer {
  text-align: center;
  width: 100%;
}

.page-footer a {
  font-family: "Noto Serif", "Open Serif", serif;
  width: 100%;
  display: block;
  padding: 1.5em 0;
  font-weight: 700;
}

.page-footer a:before {
  content: "~~ "
}

.page-footer a:after {
  content: " ~~"
}

/*.page-header__title {
	font-size: 28px;
	font-size: 1.75rem;
}*/

.page-rss {
  text-decoration: none;
}

.page-content {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.post__title {
  font-size: 2.8rem;
}

.post__title a {
  text-decoration: none;
}

.meta {
	font-size: 16px;
	/* font-size: 0.8125rem; */
	font-size: 1rem;
	vertical-align: baseline;
}

.meta span {
	margin-right: 10px;
}

.meta .icon {
	margin-right: 5px;
}

.icon-time, .icon-category {
	vertical-align: middle;
}

/*.meta-categories__link, .post__meta-date, .list__meta-date,  .post__meta-lastmod, .list__meta-lastmod {
	vertical-align: middle;
}*/

.post__meta {
	margin-top: 10px;
	margin-top: 0.625rem;
	padding: 5px 10px;
	border-top: 1px dotted #c4c4c4;
	border-bottom: 1px dotted #c4c4c4;
}

.post__thumbnail {
	max-width: 1030px;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.post__thumbnail img {
	width: 100%;
}

.post__content h1, .post__content h2, .post__content h3, .post__content h4,
.post__content h5, .post__content h6, .post__content p,
.post__content blockquote, .post__content .row {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

/*.post__content > p, .post__content > ul, .post__content > ol, .post__content > table
{
	font-size: 1.15em;
}*/

.post__content p {
	text-align: justify;
  /* hyphens: auto; */
}

.post__content blockquote p:last-child {
	margin: 0;
}

/*.post__content a {
	font-weight: 700;
}*/

.post__content a:hover, .post__content a:focus {
	text-decoration: underline;
}

.post__content h1, .post__content h2/*, .post__content h2, .post__content h3*/ {
  border-top: 1px dashed #c4c4c4;
  padding-top: 10px
}

.post__footer .meta {
  font-size: 1rem;
}

.share i {
  font-size: 2em
}

/*.tags {
  font-size: 12px;
	font-size: 0.75rem;
	color: #eee;
	line-height: 1;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.tags__item {
	float: left;
	font-weight: 700;
	margin: 0 6px 6px 0;
	margin: 0 0.375rem 0.375rem 0;
	background: #2a2a2a;
	text-transform: uppercase;
}

.tags__item:hover, .tags__item:focus {
	background: #e64946;
}

.tags__link, .tags__link:hover, .tags__link:focus {
	display: block;
	color: #eee;
	padding: 10px 15px;
}

.tags .icon {
	float: left;
	padding: 8px;
	margin-right: 6px;
	background: #e64946;
}*/

/*** TableOfContents ***/

#toc {
	float:right;
	width:320px;
	margin:0;
  padding: 0;
  padding-left: 10px;
}

#tocInner {
	/* float:right; */
	margin:0;
	padding: 0px;
	padding-right: 5px;
	border: 1px solid #c4c4c4;
	border-radius: 8px;
}

#tocHeading {
	font-size: 1.4em;
	font-weight: bold;
	display: block;
	padding-left: 1em;
	padding-top: 5px;
}

#TableOfContents ul {
  margin: 0;
  margin-left: 5px;
  list-style-position: inside;
  list-style-type: disc;
}

#TableOfContents a {
  font-size: .9rem;
}

/*** Archive ***/

.list__archive-year {
  margin-bottom:1em;
  list-style: circle;
  padding-left: 25px;
  /* list-style-position: inside; */
}

.item__archive-year {
  /* list-style-position: inside; */
  /* list-style: circle; */
  display: inline-block;
}

.item__archive-year a {
  display: block;
  /* padding: 1rem; */
  /* text-transform: uppercase; */
  padding: 10px 15px;
  font-weight: 700;
}

/*.archives {
  display: table-row;
}*/

.archives time {
  padding-top: .2em;
}

.archives > div, .archives h1 {
  display: table-cell;
}

.archives article {
  padding: 1em 0;
}

.archives .list__title a {
  text-decoration: none;
}

.archives > div h1 {
  font-weight: normal;
}

.archives > h1 {
  font-weight: normal;
  width: 5.5rem;
  border-bottom: 1px solid #c4c4c4;
}

.archives article {
  border-bottom: 1px solid #c4c4c4;
  padding-left: 1em;
  padding-left: 1rem;
}

.archives:last-child > div > article, .archives:last-child > h1 {
  border-bottom: 0;
}

.archives > div > article > time {
  width: 6rem;
  margin:0;
  font-size: 1.4rem;
  display: block;
  float: left;
}

.archives > div > article > h1 {
  margin-left: 5.5rem;
  /* position: relative; */
  /* top: -2.6rem; */
}

.archives > div > article > div {
  margin: 0;
  padding-left: 6em;
  padding-left: 6rem;
  /* position: relative; */
  /* top: -2.2rem; */
}

/*** Author Box ***/
.authorbox {
	line-height: 1.5;
	padding: 25px 0;
	margin-bottom: 25px;
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
}

.authorbox .screen-reader-text {
	position: absolute;
	top: -9999rem;
	left: -9999rem;
}

.authorbox__avatar {
	float: left;
	padding: 3px;
	margin-right: 25px;
	border: 1px solid #c4c4c4;
}

.authorbox__header {
	margin-bottom: 10px;
}

.authorbox__name {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 700;
}

/*** List content ***/
.list__item {
	padding-bottom: 20px;
	padding-bottom: 1.25rem;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	border-bottom: 1px solid #c4c4c4;
}

.list__header {
	margin-bottom: 10px;
	margin-bottom: 0.625rem;
}

.list__meta {
	margin-top: 5px;
}

.list__excerpt {
	overflow: hidden;
	text-align: justify;
}

.list__thumbnail {
	float: left;
	margin-right: 20px;
}

.list__thumbnail img {
	width: 100%;
	max-width: 235px;
}

.list__footer-readmore {
	float: right;
	margin-top: 10px;
}

/*** Pagination ***/
.pagination {
	margin-top: 20px;
}

.pagination__item {
	display: inline-block;
	font-weight: 700;
	padding: 10px 15px;
}

.pagination__item--next, .pagination__item--prev {
  text-decoration: none;
}

/*** Post Navigation ***/
.post-nav {
	padding: 0;
	/* margin-bottom: 0; */
	border-bottom: 1px solid #c4c4c4;
}

.post-nav a {
	padding: 25px;
  display: block
}

.post-nav__caption {
	display: block;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 5px;
	text-transform: uppercase;
	overflow: hidden;
}

.post-nav__post-title {
	/* font-size: 13px; */
	/* font-size: 0.8125rem; */
	overflow: hidden;
  display: block;
}

.post-nav__item--next {
	float: right;
	text-align: right;
}

/*** Footer ***/
.footer {
	padding: 10px 25px;
	border-top: 3px solid #999;
}

.footer__copyright {
	font-size: 12px;
	font-size: 0.75rem;
}

/*** Images / Video ***/
img {
	max-width: 100%;
	width: auto\9; /* ie8 */
	height: auto;
	vertical-align: bottom;
}

iframe, embed, object, video {
	max-width: 100%;
}

.post__content .alignnone {
	display: block;
	margin: 20px 0;
	margin: 1.25rem 0;
}

.post__content .aligncenter {
	display: block;
	margin: 20px auto;
	margin: 1.25rem auto;
}

.post__content .alignleft {
	display: inline;
	float: left;
	margin: 5px 20px 20px 0;
	margin: 0.3125rem 1.25rem 1.25rem 0;
}

.post__content .alignright {
	display: inline;
	float: right;
	margin: 5px 0 20px 20px;
	margin: 0.3125rem 0 1.25rem 1.25rem;
}

.screen-reader-text {
	position: absolute;
	top: -9999rem;
	left: -9999rem;
	overflow: hidden;
}

/*** 404 ***/
.p404 {
  text-align: center;
  line-height: 2;
  padding: 1em

}

/*** Tables ***/
table {
	width: 100%;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	border-left: 1px solid #c4c4c4;
	border-top: 1px solid #c4c4c4;
}

td, th {
	padding: 5px 10px;
	border-right: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
}

th {
	font-weight: bold;
}

/*** Pygmentize ***/
.highlightwrap {
  overflow-x: auto;
  /* margin-bottom: 20px; */
  /* margin-bottom: 1.25rem; */
}

/* .highlightwrap:focus, .highlightwrap:hover { */
/* } */

.highlighttable {
  margin: 0;
  border: 0;
  padding: 0;
}

.highlighttable td {
  border: 0;
  padding: 0;
  vertical-align: top;
}

.highlighttable td:first-child {
  width: 1px; /* smallest possible column */
}

.highlighttable td:first-child pre {
  padding-right: 0;
}

.highlighttable .highlight pre {
  padding-left: .6em;
}

.highlighttable pre {
  padding: 10px 5px;
  margin: 0;
  border: 0;
}

.post__content pre {
  overflow-x: auto;
  white-space: pre;
  hyphens: none;
}

/*** Forms ***/
input {
	/* font-size: 12px; */
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	vertical-align: middle;
	/* -webkit-transition: all 0.25s ease-in-out; */
	/* -moz-transition: all 0.25s ease-in-out; */
	/* transition: all 0.25s ease-in-out; */
}

input[type=text], input[type=email], input[type=tel], input[type=url] {
	width: 60%;
}

input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover,
input[type=url]:hover, textarea:hover,
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus,
input[type=url]:focus, textarea:focus {
	border: 1px solid #e64946;
}

input[type=submit] {
	display: inline-block;
	min-width: 150px;
	font-weight: 700;
	padding: 10px 15px;
	cursor: pointer;
	text-transform: uppercase;
	/* -webkit-transition: all 0.1s linear; */
	/* -moz-transition: all 0.1s linear; */
	/* transition: all 0.1s linear; */
	border: 0;
	-webkit-appearance: none;
}

textarea {
	width: 96%;
	line-height: 1.5;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

/*** Searchform ***/
.widget-search__form input {
	/* font-size: 11px; */
	line-height: 1;
}

.widget-search__form .widget-search__submit {
	display: none;
}

.widget-search__form .screen-reader-text {
	position: absolute;
	left: -9999px;
	overflow: hidden;
}

.widget-search__form .widget-search__field {
	position: relative;
	padding: 10px;
	margin: 0;
	border: 1px solid #c4c4c4;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.widget-search__form .widget-search__field:active, .widget-search__form .widget-search__field:focus {
	cursor: text;
}

.widget-search__form {
	display: block;
	margin: 0 auto;
	padding: 2%;
}

.widget-search__form .widget-search__field {
	display: block;
	margin: 0 auto;
	width: 98%;
}

/*** Widgets ***/
.widget {
	margin-bottom: 25px;
	overflow: hidden;
}

.widget:last-child {
	margin-bottom: 0;
}

.widget__title {
	position: relative;
	font-size: 16px;
	font-size: 1rem;
	padding-bottom: 5px;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	text-transform: uppercase;
	border-bottom: 3px solid #e64946;
}

.widget-social__link {
	display: block;
	margin: 0 0 8px 0;
}

.widget-social__link-icon {
	vertical-align: middle;
	margin: 0 5px 0 0;
}

/*** Default WordPress Widgets ***/
.widget li {
	border-bottom: 1px dotted #c4c4c4;
}

.widget li a {
	display: block;
  padding: 5px 0;
}

.widget li:first-child a {
	padding-top: 0;
}

.widget-categories li a:first-child {
  float: right;
  text-decoration: none;
}

/*** Tag Cloud Widget ***/
.widget__link--taglist {
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	padding: 5px 10px;
	margin: 0 4px 8px 0;
	white-space: nowrap;
	text-transform: uppercase;
}

/*** Media Queries ***/
@media screen and (max-width: 1475px) {
	.container {
		width: 95%;
	}

	/*.container-inner {
		width: 100%;
	}*/
}

@media screen and (max-width: 900px) {
  #toc {
    float:right;
    width:280px;
  }

  .menu__link {
    font-size: 1em;
  }

  body {
    font-size: 1em;
  }

	.container-outer {
		margin: 0 auto;
	}

	.mobile .container {
		width: 100%;
  }

  .archives > div, .archives h1 {
    display: block;
  }

  .archives > h1 {
    font-weight: normal;
    width: 100%;
    border-bottom: 5px solid #f5f5f5;
    padding-top: 1em;
  }

  .archives:first-child > h1 {
    padding-top: 0;
  }

  .archives article {
    border-bottom: 1px solid #c4c4c4;
    padding-left: 1em;
    padding-left: 1rem;
  }

  .archives:last-child > h1 {
    border-bottom: 5px solid #f5f5f5;
  }

	/*.wrapper, .logo {
		padding: 20px;
	}*/

  .post {
    padding-left: 30px;
    padding-right: 30px;
  }

  .pagination, .archives {
    padding: 0 20px;
  }

	.footer__copyright {
		text-align: center;
	}

	.widget {
		margin-bottom: 20px;
	}

	.meta-comments {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.content, .sidebar, .body-right-sidebar .main-content,
	.body-left-sidebar .main-content {
		float: none;
		width: 100%;
		margin: 0;
	}

	.logo {
		text-align: center;
	}

	/*.logo__title, .post__title {
		font-size: 24px;
		font-size: 1.5rem;
	}*/

  .header , .header > .container-inner > * , .container-inner {
      display: block;
  }

  .menu {
    text-align: center;
    min-height: auto;
  }

  .menu__link {
    border: 2px solid #444;
    border-top: none;
    border-bottom: none;
    padding: 5px 15px;
  }

  .post {
    padding-left: 20px;
    padding-right: 20px;
  }

  .pagination, .archives {
    padding: 0 20px;
  }

	.sidebar {
		margin-top: 20px;
	}

	.post__meta {
		padding: 5px 0;
  }
}

@media screen and (max-width: 620px) {
	input[type=text], input[type=email], input[type=tel], input[type=url] {
		width: 88%;
	}

	[class*="col-"] {
		float: none;
		width: 100%;
		margin: 0;
	}

	.post__meta-categories, .entry-meta-comments {
		display: none;
	}

	.authorbox {
		text-align: center;
	}

	.authorbox__avatar {
		float: none;
		display: inline-block;
		margin: 0 0 20px;
  }

  .archives > div > article > time {
    font-size: inherit
  }

	.post-nav__item {
		text-align: center;
	}

	.post-nav__item--prev {
		padding-bottom: 25px;
	}

	.post__content ul, .post__content ol {
		margin: 0 0 20px 20px;
	}

	.post__content ul ul, .post__content ol ol {
		margin: 0 0 0 20px;
	}

	.single-post .post-nav__item--next {
		margin-top: 25px;
	}

	.list__thumbnail {
		max-width: 80px;
	}

	.list__title {
		font-size: 14px;
		font-size: 0.875rem;
	}

	.list__meta {
		display: block;
		font-size: 11px;
		font-size: 0.6875rem;
	}

	.list__excerpt {
		display: none;
	}
}



/** Light theme **/

body, html { background: #252525; color: #000; }
.logo__title { color: #ddd  }
.container-inner { background: #252525; }
.wrapper { background: #e9e9e9; }
.main-content { background: #eee; }
.header { box-shadow: 0 -5px 5px 5px #555; }
.wrapper { box-shadow: 0 5px 5px 5px #888; }
.footer { box-shadow: 0 15px 5px 5px #666; }
.warning { border-color: #ddd; }
/* pre { background: #f5f5f5; border-color: #c4c4c4; } */
pre { background: #3a3a3a; border-color: #c4c4c4; }
.highlighttable pre { border-color: #555; }
.highlighttable td:first-child pre { background: #444; }
.linenodiv code { color: #888 }
pre code { color: #c5c8c6 }
code { background-color: #f9f9f9; border-color: #fadbf4; }
code { border: none; }
kbd { background: #f5f5f5; border-color: #e64946; }
blockquote { color: #666; border-color: #e64946; }
abbr, acronym { border-color: default; }
cite { color: #9a9b97; }
tr:nth-child(even) { background-color: #e9e9e9; }
tr:hover, tr:focus, tr:active { background-color: #c4c4c4; }
th { background-color: #e9e9e9; }
input, textarea { background: #f2f2f2; }
input[type=submit]:hover, input[type=submit]:focus { background: #2a2a2a; }

.rss-link:hover .fa-rss:before, .page-rss:hover .fa-rss:before { color: #ffaa00; }

a { color: #000; }
.page-footer a { color: #0181eb; background: #e9e9e9; }
.meta, .meta a, .gh-comment-header { color: #979797; }
.post__content a { color: #0181eb; }
.gh-comment { background: #e9e9e9; }
.gh-comment, .gh-comment-header { border-color: #ddd; }

.btn,
.item__archive-year a,
.widget__link--taglist
{ color: #eee; background: #2a2a2a; }

.footer__copyright { color: #bbb; }
.footer__copyright a { color: #eee; }

.post__content a:visited,
.post-nav__link:visited,
.p404 a:visited
{ color: #905aab }

a:hover,
a:focus,
.btn:hover,
.btn:focus,
.page-footer a:hover,
.page-footer a:focus,
.meta a:hover,
.meta a:focus,
.post__content a:hover,
.post__content a:focus,
.footer__copyright a:hover,
.footer__copyright a:focus
.post__content a:visited:hover,
.post__content a:visited:focus,
.p404 a:hover,
.p404 a:focus
{ color: #e64946; }

.menu__item a:hover,
.menu__item a:focus,
.item__archive-year a:hover,
.item__archive-year a:focus,
.pagination__item:hover,
.pagination__item:focus,
.pagination__item--current,
.widget__link--taglist:hover,
.widget__link--taglist:focus,
.widget .widget__link--taglist:hover,
.widget .widget__link--taglist:focus,
input[type=text]:hover,
input[type=text]:focus,
input[type=email]:hover,
input[type=email]:focus,
input[type=tel]:hover,
input[type=tel]:focus,
input[type=url]:hover,
input[type=url]:focus,
textarea:hover,
textarea:focus,
input[type=submit]
{ background: #e64946; color: #eee; }

.menu__item--active { background: #e64946; }
.logo__tagline { color: #e64946; border-color: #ddd }
@media screen and (min-width: 767px) { .header { border-color: #e64946} }
.widget__title { border-color: #e64946; }

.fa-rss:before { color: #f8a550 }
.fa-folder:before { color: #d7a68e }
.header { background: #eee; }
.menu__link { background: #555; color: #f2f2f2; border-color: #666 }

.post__meta,
.post__content h1,
.archives article,
.authorbox, .authorbox__avatar,
.list__item,
.post, .post-nav,
.widget li
table, td, th
{ border-color: #c4c4c4; }

.icon-time, .icon-category { fill: #c4c4c4; }
.archives > div > article > time { color: #c4c4c4; }
#tocInner { background: #f7f7f7; border-color: #c4c4c4; }
.archives > h1 { color: #c4c4c4; border-color: #c4c4c4; }
.widget-search__form .widget-search__field { background: #f2f2f2; border-color: #c4c4c4; }


.icon-tag { fill: #eee; }
.footer { border-color: #999; background: #2a2a2a; }
.pagination__item { color: #000; background: #f5f5f5; }
.widget-search__form input { color: #1f1e1e; }

@media screen and (max-width: 900px) {
  .archives > h1 { color: #c4c4c4; border-bottom-color: #f5f5f5; }
  .archives article { border-color: #c4c4c4; }
  .archives:last-child > h1 { border-color: #f5f5f5; }
}

@media screen and (max-width: 767px) {
  .menu { background: #2c2c2c; }
  .menu__link { border-color: #444; }
}


/** tomorrow_night.css **/
/** https://github.com/mozmorris/tomorrow-pygments **/

.highlight .hll { background-color: #515151 }
.highlight  { background: #2d2d2d; color: #cccccc }
.highlight .c { color: #999999 } /* Comment */
.highlight .err { color: #f2777a } /* Error */
.highlight .k { color: #cc99cc } /* Keyword */
.highlight .l { color: #f99157 } /* Literal */
.highlight .n { color: #cccccc } /* Name */
.highlight .o { color: #66cccc } /* Operator */
.highlight .p { color: #cccccc } /* Punctuation */
.highlight .cm { color: #999999 } /* Comment.Multiline */
.highlight .cp { color: #999999 } /* Comment.Preproc */
.highlight .c1 { color: #999999 } /* Comment.Single */
.highlight .cs { color: #999999 } /* Comment.Special */
.highlight .gd { color: #f2777a } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #cccccc; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #99cc99 } /* Generic.Inserted */
.highlight .gp { color: #999999; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #66cccc; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #cc99cc } /* Keyword.Constant */
.highlight .kd { color: #cc99cc } /* Keyword.Declaration */
.highlight .kn { color: #66cccc } /* Keyword.Namespace */
.highlight .kp { color: #cc99cc } /* Keyword.Pseudo */
.highlight .kr { color: #cc99cc } /* Keyword.Reserved */
.highlight .kt { color: #ffcc66 } /* Keyword.Type */
.highlight .ld { color: #99cc99 } /* Literal.Date */
.highlight .m { color: #f99157 } /* Literal.Number */
.highlight .s { color: #99cc99 } /* Literal.String */
.highlight .na { color: #6699cc } /* Name.Attribute */
.highlight .nb { color: #cccccc } /* Name.Builtin */
.highlight .nc { color: #ffcc66 } /* Name.Class */
.highlight .no { color: #f2777a } /* Name.Constant */
.highlight .nd { color: #66cccc } /* Name.Decorator */
.highlight .ni { color: #cccccc } /* Name.Entity */
.highlight .ne { color: #f2777a } /* Name.Exception */
.highlight .nf { color: #6699cc } /* Name.Function */
.highlight .nl { color: #cccccc } /* Name.Label */
.highlight .nn { color: #ffcc66 } /* Name.Namespace */
.highlight .nx { color: #6699cc } /* Name.Other */
.highlight .py { color: #cccccc } /* Name.Property */
.highlight .nt { color: #66cccc } /* Name.Tag */
.highlight .nv { color: #f2777a } /* Name.Variable */
.highlight .ow { color: #66cccc } /* Operator.Word */
.highlight .w { color: #cccccc } /* Text.Whitespace */
.highlight .mf { color: #f99157 } /* Literal.Number.Float */
.highlight .mh { color: #f99157 } /* Literal.Number.Hex */
.highlight .mi { color: #f99157 } /* Literal.Number.Integer */
.highlight .mo { color: #f99157 } /* Literal.Number.Oct */
.highlight .sb { color: #99cc99 } /* Literal.String.Backtick */
.highlight .sc { color: #cccccc } /* Literal.String.Char */
.highlight .sd { color: #999999 } /* Literal.String.Doc */
.highlight .s2 { color: #99cc99 } /* Literal.String.Double */
.highlight .se { color: #f99157 } /* Literal.String.Escape */
.highlight .sh { color: #99cc99 } /* Literal.String.Heredoc */
.highlight .si { color: #f99157 } /* Literal.String.Interpol */
.highlight .sx { color: #99cc99 } /* Literal.String.Other */
.highlight .sr { color: #99cc99 } /* Literal.String.Regex */
.highlight .s1 { color: #99cc99 } /* Literal.String.Single */
.highlight .ss { color: #99cc99 } /* Literal.String.Symbol */
.highlight .bp { color: #cccccc } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f2777a } /* Name.Variable.Class */
.highlight .vg { color: #f2777a } /* Name.Variable.Global */
.highlight .vi { color: #f2777a } /* Name.Variable.Instance */
.highlight .il { color: #f99157 } /* Literal.Number.Integer.Long */


.highlight .p { color: #cc8f50 } /* Punctuation */
