<section id="gh-comments">
  <h1>Commentaires</h1>
{{- if $.Params.ghcommentid }}
<p>Le système de commentaire passe par <a href="https://github.com/jonathanpoelen/jonathanpoelen.github.io/issues/{{ $.Params.ghcommentid }}">les issues de github</a>.
  <article id="gh-comments-list"></article>
  <a href="#" id="gh-load-comments" class="btn" onclick="DoGithubComments({{ $.Params.ghcommentid }}); return false">Charger les commentaires</a>
</section>
{{ $script := resources.Get "js/github-comment.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $script.Permalink }}"></script>
<script type="text/javascript">
if (document.URL.split('#')[1] === 'gh-comments')
{
  DoGithubComments({{ $.Params.ghcommentid }});
}
</script>
{{- else }}
<p>Aucun commentaire pour le moment :'(</p>
<p>Le système de commentaire passe par <a href="https://github.com/jonathanpoelen/jonathanpoelen.github.io/issues">les issues de github</a> et aucun n'est associée au billet.
Vous pouvez faire votre commentaire dans une issue qui a comme titre celui du billet. Je
me chargerai de les associer.</p>
{{- end }}
</section>
