{{- $a := replace .  "January" "janvier" }}
{{- $b := replace $a "February" "février" }}
{{- $c := replace $b "March" "mars" }}
{{- $d := replace $c "April" "avril" }}
{{- $e := replace $d "June" "juin" }}
{{- $f := replace $e "July" "juillet" }}
{{- $g := replace $f "August" "août" }}
{{- $h := replace $g "September" "septembre" }}
{{- $i := replace $h "October" "octobre" }}
{{- $j := replace $i "November" "novembre" }}
{{- $k := replace $j "December" "décembre" }}
{{- $l := replace $k "Jan" "janv." }}
{{- $m := replace $l "Feb" "févr." }}
{{- $n := replace $m "Mar" "mars" }}
{{- $o := replace $n "Apr" "avril" }}
{{- $p := replace $o "May" "mai" }}
{{- $q := replace $p "Jun" "juin" }}
{{- $r := replace $q "Jul" "juil." }}
{{- $s := replace $r "Aug" "août" }}
{{- $t := replace $s "Sep" "sept." }}
{{- $u := replace $t "Oct" "oct." }}
{{- $v := replace $u "Nov" "nov." }}
{{-       replace $v "Dec" "déc." }}
