{{ partial "header.html" . }}
  <section class="main-content list content" role="main">
    {{- if not .IsHome}}
    {{- if .Title }}
    <header class="page-header">
      <h1 class="page-header__title">
        <!--{{- if hasPrefix .URL "/tags/" }}
        <i class="fa fa-tag" aria-hidden="true"></i>
        {{- else if hasPrefix .URL "/categories/" }}
        <i class="fa fa-folder-open-o" aria-hidden="true"></i>
        {{- else }}
        <i class="fa fa-archive" aria-hidden="true"></i>
        {{- end }}-->
        {{- if .RSSLink }}
        <a class="page-rss" href="{{ .RSSLink }}" type="application/rss+xml" title="Flux RSS pour {{ .Title }}">{{ .Title }} &nbsp;<i class="fa fa-rss" aria-hidden="true"> </i><span class="sr-only link-alt">(Flux RSS)</span>&nbsp;</a>
        {{- else }}
        {{ .Title }}
        {{- end }}
      </h1>
    </header>
    {{- end }}
    {{- end }}
    {{- with .Content }}
    <div class="page-content">
      {{ . }}
    </div>
    {{- end }}
    {{- if .IsHome }}
      {{- $postSections := ($.Param "postSections" | default (slice "post")) }}
      {{- $paginator := .Paginate ( where .Data.Pages "Section" "in" $postSections ) }}
      {{- range $paginator.Pages }}
        {{ partial "post.html" (dict "article" .) }}
      {{- end }}
      {{- if eq $paginator.TotalNumberOfElements 0 }}
      <div class="warning">
        <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
        <h3 class="warning__headline">You don't have any posts yet!</h3>
        <p class="warning__text">As posts are added in {{ replaceRE ",([^,]*)$" " and $1" (delimit (apply $postSections "printf" "content/%s" ".") ", ") }} folder{{ if gt (len $postSections) 1 }}s{{ end }}, they'll appear here.</p>
      </div>
      {{- end }}
      <footer class="page-footer"><p><a href="/archives" title="Archives">Archives</a></p></footer>
    {{- else if eq .Type "archives" }}
      {{- $pages := where .Site.RegularPages "Section" "in" (.Site.Params.postSections | default (slice "post")) }}
      {{- partial "menu-year.html" (dict "Pages" $pages "Scratch" $.Scratch) }}
      {{- partial "list_archive.html" (dict "Pages" $pages "Scratch" $.Scratch "SetId" 1 ) }}
    {{ else }}
      {{- partial "menu-year.html" (dict "Pages" .Paginator.Pages "Scratch" $.Scratch) }}
      {{- partial "list_archive.html" (dict "Pages" .Paginator.Pages "Scratch" $.Scratch) }}
    {{- end }}

    {{ if ne .Type "archives" }}
      {{ partial "pagination.html" . }}
    {{- end }}
  </section>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
