{{ partial "header.html" . }}

{{ partial "sidebar.html" . }}

  <section class="main-content list content" role="main" id="main-content">
    {{- with .Content }}
    <div class="page-content">
      {{ . }}
    </div>
    {{- end }}
    {{- if .IsHome }}
      {{- $postSections := ($.Param "postSections" | default (slice "post")) }}
      {{- $paginator := .Paginate ( where .Data.Pages "Section" "in" $postSections ) }}
      {{- range $paginator.Pages }}
        {{ partial "post.html" (dict "article" .) }}
      {{- end }}
      {{- if eq $paginator.TotalNumberOfElements 0 }}
      <div class="warning">
        <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
        <h3 class="warning__headline">You don't have any posts yet!</h3>
        <p class="warning__text">As posts are added in {{ replaceRE ",([^,]*)$" " and $1" (delimit (apply $postSections "printf" "content/%s" ".") ", ") }} folder{{ if gt (len $postSections) 1 }}s{{ end }}, they'll appear here.</p>
      </div>
      {{- end }}
    {{- else if eq .Type "archives" }}
      {{- $pages := where .Site.RegularPages "Section" "in" (.Site.Params.postSections | default (slice "post")) }}
      {{- partial "list_archive.html" (dict "Pages" $pages           "Title" .Title "RSSLink" .RSSLink) }}
    {{ else }}
      <!-- .Data -> .Paginator -->
      {{- partial "list_archive.html" (dict "Pages" .Data.Pages "Title" .Title "RSSLink" .RSSLink) }}
    {{- end }}

    {{ if .IsHome }}
      {{ partial "pagination.html" . }}
    {{- end }}
  </section>

{{ partial "footer.html" . }}
