{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<div class="pagination clearfix">
  {{- if .Paginator.HasPrev }}
  <a class="pagination__item pagination__item--prev" href="{{ .Paginator.Prev.URL }}">◀</a>
  {{- if gt .Paginator.PageNumber 1 }}
  <a class="pagination__item" href="{{ .Paginator.First.URL }}">1</a>
  {{- end }}
  {{- if gt .Paginator.PageNumber 4 }}
  …
  {{- end }}
  {{- if gt .Paginator.PageNumber 3 }}
  <a class="pagination__item" href="{{ .Paginator.Prev.Prev.URL }}">{{ .Paginator.Prev.Prev.PageNumber }}</a>
  {{- end }}
  {{- if gt .Paginator.PageNumber 2 }}
  <a class="pagination__item" href="{{ .Paginator.Prev.URL }}">{{ .Paginator.Prev.PageNumber }}</a>
  {{- end }}
  {{- end }}
  <span class="pagination__item pagination__item--current">{{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}</span>
  {{- if .Paginator.HasNext }}
  {{- if lt .Paginator.PageNumber (sub .Paginator.TotalPages 1) }}
  <a class="pagination__item" href="{{ .Paginator.Next.URL }}">{{ .Paginator.Next.PageNumber }}</a>
  {{- end }}
  {{- if lt .Paginator.PageNumber (sub .Paginator.TotalPages 2) }}
  <a class="pagination__item" href="{{ .Paginator.Next.Next.URL }}">{{ .Paginator.Next.Next.PageNumber }}</a>
  {{- end }}
  {{- if lt .Paginator.PageNumber (sub .Paginator.TotalPages 3) }}
  …
  {{- end }}
  {{- if lt .Paginator.PageNumber .Paginator.TotalPages }}
  <a class="pagination__item" href="{{ .Paginator.Last.URL }}">{{ .Paginator.TotalPages }}</a>
  {{- end }}
  <a class="pagination__item pagination__item--next" href="{{ .Paginator.Next.URL }}">▶</a>
  {{- end }}
</div>
{{ end }}
