<!--{{- if or (not .Date.IsZero) .Params.categories .Params.tags }}-->
<p class="post__meta meta">
  {{- if not .Date.IsZero }}
    <i class="fas fa-clock-o fa-fw" aria-hidden="true"></i>
    <time class="post__meta-date" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ partial "date_format.html" (dict "Date" .Date "Site" $.Site) }}</time>
    {{ if ne .Date .Lastmod }}
    {{ end }}
    ;
  {{- end }}
  {{ partial "tags.html" . }}
  {{ partial "categories.html" . }}
  <i class="fas fa-hourglass-start fa-fw" aria-hidden="true"></i><span class="sr-only text-alt fa-fw">Durée de lecture éstimée&nbsp;:</span>{{ .ReadingTime }} minutes ;
  <a href="{{ .Permalink }}#gh-comments" onclick="DoGithubComments({{ $.Params.ghcommentid }})"><i class="fas fa-comments fa-fw" aria-hidden="true"></i>Commentaires</a> ;
  <a href="#{{ .File.UniqueID }}-share"><i class="fas fa-share-alt fa-fw" aria-hidden="true"></i>Partager</a>
  {{ partial "post_meta_lastmod.html" . }}
</p>
<!--{{- end }}-->
