{{- with .article }}
<article class="post">
  <header class="post__header clearfix">
    <div class="post__title-nextprev" id="{{ urlize .Title }}"><span>
      {{- with .NextPage }}
        <a href="{{- if $.isSinglePage }}{{ .Permalink }}{{- else }}#{{- urlize .Title }}{{- end }}"><i class="fas fa-caret-square-up" aria-hidden="true" title="Article précédent: {{ .Title }}"></i></a>
      {{- else }}
        &nbsp;
      {{- end }}
      {{- with .PrevPage }}
        <a href="{{- if $.isSinglePage }}{{ .Permalink }}{{- else }}#{{- urlize .Title }}{{- end }}"><i class="fas fa-caret-square-down" aria-hidden="true" title="Article suivant: {{ .Title }}"></i></a>
      {{- end }}
    </span></div>
    <h1 class="post__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <div class="post__title-nextprev-text sr-only">
      {{- with .NextPage }}
        <a href="{{- if $.isSinglePage }}{{ .Permalink }}{{- else }}#{{- urlize .Title }}{{- end }}">Article suivant: {{ .Title }}</a><br/>
      {{- end }}
      {{- with .PrevPage }}
        <a href="{{- if $.isSinglePage }}{{ .Permalink }}{{- else }}#{{- urlize .Title }}{{- end }}">Article précédent: {{ .Title }}</a><br/>
      {{- end }}
    </div>
    {{ partial "post_meta_header.html" . }}
  </header>
  <div class="post__content">
    {{- if .Params.thumbnail }}
    <figure class="post__thumbnail">
      <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
    </figure>
    {{- end }}
    {{- if and $.isSinglePage (ne .Params.toc false) }}
      {{- $toc := string (replaceRE "^(<nav id=\"TableOfContents\">)\\s*<ul>\\s*<li>|</li>\\s*</ul>\\s*(</nav>)$" "$1$2" .TableOfContents) }}
      {{- if ne "" $toc }}
        <aside id="toc"><div id="tocInner">
          <h2 id="tocHeading">Sommaire</h2>
          {{- safeHTML $toc }}
        </div></aside>
      {{- end }}
    {{- end }}
    {{- $expire := index .Params "expire" | default (add .Lastmod.Year 3) | int }}
    {{- if lt (.Lastmod.AddDate (int (sub $expire .Lastmod.Year)) 0 0) now }}
      <p class="old_article"><strong class="old_article_title">Attention :</strong> Cet article date de plus de {{ sub now.Year ( add .Lastmod.Year 1 )}} ans. Les informations y figurant peuvent être dépassées.</p>
    {{- end }}
    {{- if $.isSinglePage }}
      {{ .Content | replaceRE "(<h[23456] id=\"([^\"]+)\">[^<]+</h[23456]>)" "<a class=\"headline-hash\" href=\"#${2}\">${1}</a>" | safeHTML }}
    {{- else }}
      {{ .Content | replaceRE "(<h[23456] id=\"([^\"]+)\">[^<]+</h[23456]>)" (printf "<a class=\"headline-hash\" href=\"%s#${2}\">${1}</a>" .Permalink) | safeHTML }}
    {{- end}}
  </div>
  <footer class="post__footer">
    {{ partial "post_meta_footer.html" . }}
  </footer>
</article>
{{- end }}
